* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', cursive;
  font-weight: 400;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.page-container {
  margin: 0 auto;
  width: 90vw;
  height: 80vh;
  filter: blur(0.6px);
}

.overlay {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
  pointer-events: none;
}

.image-container {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 1fr);
  grid-template-rows: minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 1fr) minmax(
      auto,
      1fr
    );
  max-width: 100%;
  height: 70vh;
  gap: 0.2rem;
  padding: 0.2rem;
  border: 1px solid;
  overflow: hidden;
  box-shadow: 0px 1px 4px;
}

.image-container > div {
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.922);
}

.panel1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.panel1 > img {
  width: auto;
  height: 100%;
  filter: blur(1px);
}

.panel2 {
  grid-row: 3 / 5;
  grid-column: 1 / 3;
}

.panel2 > img {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  filter: blur(1px);
}

.panel3 {
  grid-row: 1 / 4;
  grid-column: 3 / 5;
}

.panel3 > img {
  width: 100%;
  height: 100%;
  filter: blur(1px);
}

.panel4 {
  grid-column: 3 / 5;
  color: black;
  grid-row: 4 / 5;
  text-align: center;
  font-size: 2.1rem;
  align-self: center;
  filter: blur(0.1px);
  border: 1px solid rgba(0, 0, 0, 0.922);
}

.name {
  font-size: 0.5rem;
  width: 100%;
  text-align: right;
}

.description {
  font-size: 0.4rem;
  margin-top: 0.5rem;
  width: 100%;
  text-align: left;
}
