* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', cursive;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.page-container {
  margin: 0 auto;
  width: 90vw;
  height: 70%;
  filter: blur(0.6px);
}

.overlay {
  position: absolute;
  left: 2%;
  bottom: 8%;
  width: 96vw;
  height: 80vh;
  opacity: 0.4;
  pointer-events: none;
}

.image-container {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 1fr);
  grid-template-rows: repeat(6, minmax(auto, 1fr));
  max-width: 100%;
  height: 100%;
  gap: 0.2rem;
  padding: 0.2rem;
  border: 1px solid;
  box-shadow: 0px 1px 4px;
}

.image-container > div {
  border: 1px solid rgba(0, 0, 0, 0.922);
}

.panel1 {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}

.panel1 > img {
  width: auto;
  height: 100%;
  filter: blur(2px);
}

.panel2 {
  grid-row: 4 / 7;
  grid-column: 1 / 3;
}

.panel2 > img {
  margin: 0 auto;
  width: auto;
  height: 100%;
  filter: blur(2px);
}

.panel3 {
  grid-row: 1 / 5;
  grid-column: 3 / 5;
}

.panel3 > img {
  width: 100%;
  height: 100%;
  filter: blur(2px);
}

.panel4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 3 / 5;
  color: black;
  grid-row: 5 / 7;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  filter: blur(0.1px);
  border: 1px solid rgba(0, 0, 0, 0.922);
  overflow-y: scroll;
}

.name {
  font-size: 0.5rem;
  width: 90vw;
  text-align: right;
  filter: blur(0.6px);
}

.description {
  font-size: 0.4rem;
  margin-top: 0.5rem;
  width: 100%;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .page-container {
    margin: 0 auto;
    width: 80vw;
    height: 90vh;
  }

  .image-container {
    height: 80vh;
    width: 100%;
    gap: 0.3rem;
    padding: 0.3rem;
    border: 1px solid;
    overflow: hidden;
    box-shadow: 0px 1px 4px;
  }

  .overlay {
    position: absolute;
    left: 6%;
    bottom: 5%;
    width: 88vw;
    height: 92vh;
  }

  .name {
    font-size: 0.7rem;
    width: 80vw;
    text-align: right;
  }

  .description {
    font-size: 0.7rem;
    margin-top: 0.8rem;
    width: 100%;
    text-align: left;
  }

  .panel4 {
    text-align: center;
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .page-container {
    margin: 0 auto;
    max-width: 60rem;
    height: 80vh;
    align-self: center;
    justify-self: center;
  }

  .image-container {
    height: 100%;
    width: 100%;
    gap: 0.3rem;
    padding: 0.3rem;
    border: 1px solid;
    overflow: hidden;
    box-shadow: 0px 1px 4px;
  }

  .overlay {
    position: absolute;
    left: 7%;
    bottom: 1%;
    width: 85vw;
    height: 92vh;
  }

  .name {
    font-size: 0.7rem;
  }

  .description {
    font-size: 0.78rem;
    margin-top: 0.4rem;
    width: 100%;
    text-align: left;
  }

  .panel4 {
    text-align: center;
    font-size: 1.5rem;
  }
}
