.about-section {
  scroll-snap-align: top;
  margin-top: 3rem;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.about-title {
  font-weight: lighter;
  font-size: 2rem;
  text-align: center;
}

.about-picture {
  border-radius: 100%;
  width: 8rem;
}

.about-me-blurb {
  font-size: 1.2rem;
  font-weight: 400;
  background-color: var(--accent-1);
  padding: 1rem;
  border-radius: 10px;
}

.tech-stack {
  display: flex;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}

.dev-icon {
  width: 60px;
}
