.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--accent-1);
}

.title {
  font-size: 1.5rem;
  color: white;
}

i {
  color: var(--accent-2);
}
