.project-card {
  width: 20rem;
  height: 20rem;
  background-color: var(--accent-1);
  text-align: center;
  border: none;
  margin-bottom: 1.5rem;
}

img {
  background-color: var(--main-color);
}

.card-img-top {
  height: 20rem;
  object-fit: fill;
  border-radius: 10px;
  background-color: var(--main-color);
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
  font-weight: regular;
}

.blur {
  filter: blur(5px) brightness(40%);
  transition: filter 0.5s ease;
}
