:root {
  --main-color: #3D3354;
  --dark-shades: #1D131E;
  --dark-accent: #AA485D;
  --light-accent: #7C82A2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.title {
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
  justify-content: space-evenly;
  width: 10rem;
  font-size: 1.3rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-name {
  font-size: 5rem;
  line-height: 5rem;
  text-align: center;
}

.projects-section {
  margin: 1rem auto;
  width: 100%;
  display: grid;
  grid-template-rows: 25rem 25rem 25rem;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  row-gap: 1rem;
}

.project-card {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 20rem;
  border: 1px solid;
  border-radius: 5px;
}

.project-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  width: 100%;
}

.product-image {
  object-fit: fill;
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
  filter: grayscale(0.7);
}

.image-wrap {
  border-bottom: 1px solid;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.about-section {
  padding: 2rem;
  border: 1px solid;
  height: 25rem;
}

.about-title {
  text-align: left;
  margin-bottom: 1rem;
}

.word1, .word2, .word3, .word4, .word5 {
  display: inline-block
}
