:root {
  --main-color: #3D3354;
  --dark-shades: #1D131E;
  --dark-accent: #AA485D;
  --light-accent: #7C82A2;
}

html {
  scroll-snap-type: y proximity;
}

body {
  background-color: var(--dark-shades);
}





.about-section {
  scroll-snap-align: start;
  height: 100vh;
  padding: 2rem;
  border: 1px solid;
  height: 25rem;
}

.about-title {
  text-align: left;
  margin-bottom: 1rem;
}

.word1, .word2, .word3, .word4, .word5 {
  display: inline-block
}
